# Environment variables
.env
.env.*
!.env.example

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# OS
Thumbs.db
